.todoItem {
    flex-direction: row;
    border-color: black;
    width: 300px;
    text-align: center;
    border: solid;
}

.todoItemText {
    text-decoration: line-through;
}

.X {
    float: right;
}